@media (min-width: 481px) {

    #header .menu .hamburguer-extend {
        display: none;
    }

    #inf .start h1 {
        font-size: 2.4rem;
        line-height: 3rem;
    }

    #inf .start p {
        font-size: 1.1rem;
        line-height: 1.9rem;
    }

    #solution .title h3 {
        font-size: 1.2rem;
        line-height: 1.55rem;
    }

    #solution .title h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    #solution .card h4 {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    #solution .card p {
        font-size: 1.1rem;
        line-height: 1.7rem;
    }

    #job .text h1 {
        font-size: 2.1rem;
        line-height: 2.3rem;
    }

    #job .text p {
        font-size: 1.15rem;
        line-height: 1.7rem;
    }


    #depositions h3 {
        font-size: 1.1rem;
        line-height: 1.55rem;
    }

    #depositions>p {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }

    #depositions .clients-depositions>img {
        width: 38px;
    }

    #depositions .clients-depositions p {
        font-size: 1.15rem;
        line-height: 1.7rem;

    }

    #footer .informations .location {
        font-size: 1rem;
        line-height: 1.9rem;
    }

    #footer .informations .lgpd {
        font-size: 1rem;
        line-height: 1.9rem;
    }
}

@media (min-width: 769px) {
    #header .menu .hamburguer {
        display: none;
    }

    #header .menu .hamburguer-extend {
        width: 100%;
        display: flex;
        gap: 20px;
    }

    #header .menu ul,
    button {
        display: inline-block;
        list-style-type: none;
    }

    #header .menu ul {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 0.93rem;
        line-height: 1.3rem;
        gap: 25px;
    }

    #header .menu ul li {
        display: inline-block;
        color: #fff;
    }

    #header .menu ul li a {
        text-decoration: none;
        color: #fff;
        transition: 0.3s ease;
    }

    #header .menu ul li a:hover {
        color: #9907CC;
    }

    #header .menu ul li .language {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    #footer .informations {
        padding: 0 50px;
    }
}

@media (min-width: 1025px) {
    #inf {
        flex-direction: row;
    }

    #inf .start {
        align-items: start;
        text-align: start;
        padding: 100px 0 65px 35px;
    }

    #inf .start h1 {
        font-size: 2.5rem;
        line-height: 3.25rem;
    }

    #inf .start p {
        font-size: 1rem;
        line-height: 1.6rem;
    }

    #solution .card-master {
        display: flex;
        gap: 40px;
    }

    #solution .card h4 {
        font-size: 1.3rem;
        line-height: 1.6rem;
    }

    #solution .card p {
        font-size: 0.93rem;
        line-height: 1.3rem;
    }

    #job {
        flex-direction: row;
        gap: 60px;
    }

    #job .text {
        width: 50%;
        margin: 0;
        text-align: start;
    }

    #job .text h1 {
        display: block;
        font-size: 1.8rem;
        text-align: start;
    }

    #job .text p {
        font-size: 0.93rem;
    }

    #depositions > h3 {
        font-size: 0.93rem;
        letter-spacing: 0.2rem;
    }

    #depositions > p {
        font-size: 1.75rem;
    }

    #depositions .clients-organize {
        display: flex;
        gap: 100px;
    }

    #depositions .clients-organize span {
        display: none;
    }

    #depositions .clients-depositions {
        text-align: start;
    }

    #depositions .clients-organize .clients-depositions p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #depositions .clients-depositions .clients {
        justify-content: flex-start;
    }

    #depositions .clients-depositions .clients .name {
        align-items: flex-start;
    }

    #footer .organize-footer {
        display: flex;
        gap: 10%;
    }

    #footer .org-social {
        width: 40%;
    }

    #footer .informations {
        width: 50%;
    }
}
